<html ng-app="chat">
<meta charset="utf-8">
<head>
<title>Chat</title>
<link href='styles/style.css' rel='stylesheet' type='text/css' />
</head>
<body ng-controller="ChatController">
	<div ng-hide="isLoggedIn">
		<h2>Please Login</h2>
		<input type="text" ng-model="username" placeholder="enter username" required>
		<button ng-click="login()">Start!</button>
	</div>
	<div ng-show="isLoggedIn">
		<h2>
			Hello {{username}}
			<button ng-click="logout()">Logout</button>
		</h2>
		<div id="messages">
			<p ng-repeat="msg in messages">{{formatMessage(msg)}}</p>
		</div>
		<div id="newmessage">
			<table>
				<tr>
					<td><input id="input-text" ng-model="newMessage"
						placeholder="say your words" type="text"
					></td>
					<td><button ng-click="say()">Say</button></td>
				</tr>
			</table>
		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"
	></script><script src="js/code.js"></script>
</body>
</html>
